.list {
    list-style-type: none;
    padding-left: 0;
    background: #E0E0E0;
    margin: 0 5px;
    padding: 8px;
    border-radius: 2px;
  }
  
  .name-header {
    text-align: center;
    padding: 6px 6px;
    margin: 0;
  }
  
  .name-0 {
    background-color: rgb(201, 155, 201);
  }
  
  .name-1 {
    background-color: rgb(22, 236, 236);
  }
  
  .name-2 {
    background-color: rgb(27, 27, 196);
  }
  
  .name-3 {
    background-color: orange;
  }
  .name-4 {
    background-color: red;
  }
  .name-5 {
    background-color: blue;
  }
  .name-5 {
    background-color: green;
  }
  
  